* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "my-font";
  src: url("../fonts/WildYouth-Regular.otf");
}

@font-face {
  font-family: "my-font-2";
  src: url("../fonts/Gloss_And_Bloom.ttf");
}

.menu-btn {
  position: absolute;
  z-index: 20;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.98;
}

nav.open {
  visibility: visible;
}

nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  overflow: hidden;
  background: #121212;
  list-style: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .nav-menu.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .nav-menu__link {
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  text-align: center;
}

nav .nav-menu__link.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .nav-menu__link a:hover {
  font-weight: bold;
}

nav .nav-menu__link.active > a {
  color: #7d0f8d;
  border-bottom: 1.5px solid white;
}

nav .nav-menu__link.active > a:hover {
  font-weight: normal;
}

.nav-menu__link:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.nav-menu__link:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.nav-menu__link:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.nav-menu__link:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "my-font";
  src: url("../fonts/WildYouth-Regular.otf");
}

@font-face {
  font-family: "my-font-2";
  src: url("../fonts/Gloss_And_Bloom.ttf");
}

.home {
  height: 100vh;
  width: 100vw;
  padding-top: 20vh;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.home .name {
  font-size: 4.5rem;
  font-family: "my-font-2";
  font-weight: 500;
  color: #ba01d6;
  margin-left: 7vw;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.home .name span {
  color: white;
}

.home .designation {
  font-family: "my-font";
  font-weight: 200;
  font-size: 2rem;
  margin-top: -5vh;
  margin-left: 15vw;
  line-height: 2.5rem;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.home .image img {
  position: fixed;
  height: 600px;
  bottom: 0rem;
  right: 0;
  z-index: -3;
}

@media (min-width: 600px) {
  .home.name {
    font-size: 7rem;
    color: white;
  }
}

.page-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-body .page-title {
  margin: 10vh auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "my-font-2";
  font-size: 2rem;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.page-body .page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-body .project-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-body .project-page-content .project-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  height: 200px;
  margin: 2vh;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.page-body .project-page-content .project-container .project-title {
  position: absolute;
  height: 85%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.page-body .project-page-content .project-container .project-title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-body .project-page-content .project-container img {
  display: block;
  width: 100%;
  height: 85%;
}

.page-body .project-page-content .project-container .description {
  position: absolute;
  top: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.page-body .project-page-content .project-container .description p {
  display: none;
}

.page-body .project-page-content .project-container .description a {
  position: relative;
  text-decoration: underline;
  text-align: justify;
  width: 100%;
  padding-top: .4rem;
  color: black;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .name h2 {
  font-family: "my-font-2";
}

.about-section .name h2 span {
  color: #6a3e7d;
}

.about-section .name h1 {
  font-size: 3rem;
  margin-top: 2.5vh;
  font-family: "my-font-2";
}

.about-section .name h1 span {
  color: #6a3e7d;
}

.about-section p {
  text-align: center;
  padding: 2% 15%;
}

.skill-section {
  margin-top: 5vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.skill-section h2 {
  text-align: center;
  font-family: "my-font-2";
  color: #6a3e7d;
  margin-bottom: 1rem;
  -webkit-transform: rotateX(30deg);
          transform: rotateX(30deg);
}

.skill-section .skills img {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 100%;
  padding: .2rem;
}

.contact-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 10vw;
  margin-top: 5 vh;
}

.contact-page-content .banner {
  width: 90%;
  height: 80%;
  border-left: solid #fff .2rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.contact-page-content .banner p {
  padding: 5rem 1rem;
  font-size: 1rem;
  line-height: 1.3rem;
}

.contact-page-content .banner p span {
  color: white;
  padding: .5rem 0rem;
  text-decoration: underline;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  nav {
    visibility: visible;
  }
  nav .nav-menu {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background: transparent;
    text-align: right;
    margin-top: 20px;
  }
  nav .nav-menu__link {
    color: black;
    display: inline;
    padding-right: 1.5rem;
    font-size: 1rem;
  }
  .home .name {
    font-size: 8rem;
    font-weight: 500;
    font-family: "my-font-2";
    font-style: normal;
    margin-top: -5vh;
    color: grey;
  }
  .home .designation {
    margin-left: 30vw;
    margin-top: -20vh;
    font-weight: bolder;
    color: #121212;
  }
  .home .overlay {
    opacity: .3;
  }
  .page-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-body .page-title {
    position: fixed;
    margin: auto;
    top: 50vh;
    left: 2vw;
    font-family: "my-font-2";
    font-size: 2rem;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .page-body .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15vh;
    margin-left: 25vw;
  }
  .page-body .project-page-content {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-top: 15vh;
    margin-left: 25vw;
  }
  .page-body .project-page-content .project-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 250px;
    background: white;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
    z-index: 2;
  }
  .page-body .project-page-content .project-container .project-title {
    position: absolute;
    height: 70%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
  }
  .page-body .project-page-content .project-container .project-title h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .page-body .project-page-content .project-container img {
    display: block;
    width: 100%;
    height: 70%;
  }
  .page-body .project-page-content .project-container .description {
    position: absolute;
    top: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .page-body .project-page-content .project-container .description p {
    display: block;
    position: relative;
    text-align: center;
    padding: 1rem;
    color: black;
    text-overflow: ellipsis;
  }
  .page-body .project-page-content .project-container .description a {
    position: relative;
    text-decoration: underline;
    text-align: center;
    padding-top: 3vh;
    color: white;
  }
  .page-body .project-page-content .project-container:hover .description {
    overflow: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
  }
  .page-body .project-page-content .project-container:hover .description p {
    color: white;
  }
  .about-section .name h2 {
    font-family: "my-font-2";
    font-size: 2rem;
  }
  .about-section .name h1 {
    font-size: 5rem;
    margin-top: 2.5vh;
    font-family: "my-font-2";
  }
  .about-section .name h1 span {
    color: #6a3e7d;
  }
  .about-section p {
    text-align: center;
    padding: 2% 15%;
    font-size: 1.2rem;
  }
  .skill-section {
    margin-top: 10vh;
  }
  .skill-section h2 {
    text-align: center;
    font-family: "my-font-2";
  }
  .skill-section .skills img {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
  }
  .contact-page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25vw;
    margin-top: 25vh;
  }
  .contact-page-content .banner {
    width: 90%;
    height: 80%;
  }
  .contact-page-content .banner p {
    padding: 5rem 1rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  .contact-page-content .banner p span {
    text-decoration: underline;
    color: white;
    font-size: 2rem;
  }
}

html {
  overflow-y: scroll;
}

body {
  color: white;
  height: 100%;
  width: 100%;
  line-height: 1;
  overflow: hidden;
}

body:before {
  position: fixed;
  top: 100px;
  left: -227px;
  bottom: 0;
  content: '';
  z-index: -1;
  height: 450px;
  width: 450px;
  background: rgba(87, 0, 87, 0.5);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -1;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  z-index: 3;
}

main .overlay {
  height: 100%;
  width: 100%;
  background: #000;
  position: fixed;
  opacity: .5;
  top: 0;
  left: 0;
  z-index: -1;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 3;
}

main .social-icons a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0.4rem;
}

main .social-icons a::shadow {
  color: black;
}

main .social-icons a:hover {
  color: #7d0f8d;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: white;
}
/*# sourceMappingURL=main.css.map */